* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    text-align: center;
}

#header {
    background-color: #444;
    color: #ddd;
}

#content {
    margin-left: 20%;
    margin-right: 20%;
}

li {
    list-style-position: inside;
}

ol {
    list-style-type: upper-roman;
}

.sidenote {
    float: right;
    border: 2px solid black;
    width: 20%;
}

#p-image {
    border: 1px solid black;
}